#banner{
    display: flex;
    flex-direction: row;
    gap: 25%;
}

#title{
    display: inline;
    font-family:  Helvetica, Arial, sans-serif;
    color:rgb(23, 7, 13);
    font-size: x-large;
    margin-left: 10px ;
}

#header {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: transparent;
    position: relative;
}

#heading1 {
    display: inline-block;
    position: absolute;
    margin: 15px;
    font-weight: 650;
}

#signin {
    position: absolute;
    margin-top: 10px;
    margin-left: 85%;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
    background-color: hsla(208, 100%, 50%, 0);
    color: white;
    height: 45px;
    width: 45px;
}

#signin:hover {
    background-color: hsl(228, 60%, 45%);
}

#more {
    position: absolute;
    margin-top: 10px;
    margin-left: 92%;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
    background-color: hsla(208, 100%, 50%, 0);
    color: white;
    height: 45px;
    width: 45px;
}

#more:hover {
    background-color: hsl(228, 60%, 45%);
}

navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 15px; 
}

.headernavbar { 
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    width: 100px;
    color: black;
    font-size: large;
    font-family:  Helvetica, Arial, sans-serif;
    padding: 15px;
    display: inline-block;
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.headernavbar:hover {
   cursor: pointer;
   border-bottom:3px solid rgb(23, 7, 13);
   color: rgb(23, 7, 13);;
   /* border-top:3px solid white; */
}

.navbaricon {
    position: relative;
    margin-top: 0px;
    display: inline-block;
    padding: 0px 0px;
    align-items: center;
    width: 40px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

#hero {
    margin-left: auto;
    height: 700px;
    color: black;
    display: flex;
    z-index: -2;
    justify-content: center;
    background: linear-gradient(to right, hsl(352, 100%, 75%),hsl(351, 55%, 84%),rgb(255, 188, 198),hsl(354, 55%, 84%) );
    position: relative;
    overflow:hidden;
}

#heroimg {
    /* background-size: contain; */
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    margin-left: 65% ;
    margin-top: -10%;
    border: none;
    height: 1000px ;
    width: auto;
}

.headeroverlay{
    position: absolute;
    margin-left: 319px;
    z-index: -1;
    background: linear-gradient(to top,rgba(0,0,0,0.3), rgb(0,0,0,0) );
    width: 899px;
    height: 700px;
}

#herotxt1 {
    position: absolute;
    margin-top: 200px;
    margin-left: -40%;
    font-weight: 500;
    font-family: -apple-system;
    font-size: 4rem;
    text-align: center;
}

#herotxt2 {
    position: absolute;
    margin-top: 300px;
    margin-left: -40%;
    text-align: center;
    font-size: large;
    height: fit-content;
}

#vac {
    border: none;
    border-radius: 50px;
    height: 30px;
    scale: 1.5;
    font-size: 1rem;
    border: 3px solid white;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right,hsl(351, 55%, 84%),rgb(255, 188, 198),hsl(354, 55%, 84%) );
}

#vac:hover {
    animation: fade 0.3s ease-in-out;
    background-color:white;
    color: rgb(23, 7, 13);
    border: 3px solid white;
}

.heronav {
    display: inline-block;
    color: rgb(5, 5, 5);
    border-radius: 5px;
    margin-top: 8px;
    width: 30vh;
    padding: 10px;
    background-color: white;
    border: 5px solid rgb(255, 255, 255);
}

.search{
    /* margin-top:500px ; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.search input{
    border: none;
    background-color:rgb(155, 122, 31);
    border-radius:3px;
    padding: 15px;
    color: white;
}

.search input::placeholder{
    color: white;
}

.search button{
    background-color: rgb(155, 122, 31);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px;
    font-weight: 450;
    font-family: Verdana;
    margin-left: 5px;
}

.search button:hover{
    background-color: rgb(127, 100, 25);
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10vh ;
}

.navigating-card {
    min-width: 30vh;
    max-width: 35vh;
    margin-top: 30vh ;
    background: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: visible;
}

a{
    display: flex;
    flex-direction: row;
    gap:10px;
    color: black;
    text-decoration:none;
}

.navigating-card h3{
    font-size:2rem;
    font-family:'Lucida Sans',  'Lucida Sans Unicode', Verdana;
}

.location {
    color: rgb(87, 87, 87);
}

.arrow{
    color: rgb(87, 87, 87);
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.big-navigating-card {
    width: 85%;
    margin-top: 5vh ;
    margin-left:10vh ;
    margin-right:5vh ;
    background: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: visible;
}

.big-navigating-card h3{
    font-size:2rem;
    font-family:'Lucida Sans',  'Lucida Sans Unicode', Verdana;
    margin-left: 5%;
}

#happytale{
    margin-left: 8%;
}

.nested-card{
    /* background-color: rgb(244, 244, 244); */
    border-radius: 8px;
}

.txtcontent{
    display: flex;
    flex-direction: row;
    gap:10%;
}

.big-navigating-card-content{
    width: 25vh ;
    color: rgb(87, 87, 87);
    padding: 15px;
    margin-bottom: 0px ;
}

.owner{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 0px ;
    padding: 15px;
}

.owner-img{
    border-radius: 50%;
    scale: 0.7;
}

.quote1{
    text-align: center;
    margin-top: 90px;
    font-family: -apple-system;
    font-size: 3rem;
}

.adoption{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* background:linear-gradient(to right, hsl(352, 100%, 75%),rgb(255, 188, 198),hsl(354, 55%, 84%) ); */
    background-color: #edc0c4;
}

.pet-card{
    /* border: solid 3px black; */
    width: fit-content;
    border-radius: 20px;
    margin-left:4.3%;
    padding-top:40px;
    padding-bottom:40px;
}

.pet-img img{
    border: none;
    border-radius: 20px;
    height: 700px;
    width: 500px;
    background-size: contain;
}

.pet-name{
    font-size: xx-large ;
    margin-top: 10px;
}

.pet-desc{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: larger ;
}

.pet-age{
    display: inline;
    color: rgb(70, 70, 70);
}

.pet-gender{
    display: inline;
    color: rgb(70, 70, 70);
}

.adoption-anchor{
    display: block;
}

#wave{
    height: 100px;
    clip-path: curve(60% 100% at 50% 100%);
    transform:scaleY(-1);
}

.lost-and-found{
    /* border: 3px solid black; */
    height: 490px;
    margin-left: 10%;
    width: 730px;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.lost-and-found img{
    background-size: contain;
    border-radius: 20px ;
}

.lost-and-found-content{
    width: fit-content;
    /* border: 3px solid rgb(218, 218, 218); */
    padding: 20px;
    border-radius: 50px;
}

.lost-and-found p{
    font-size: x-large;
    /* border: 3px solid black; */
    color: gray;
    width: 200px;
}

.lost-and-found pre{
    font-size: large;
    /* border: 3px solid black; */
    font-size: x-large;
    font-family:'Lucida Sans',  'Lucida Sans Unicode', Verdana;
}

#lost-and-found-btn{
    padding: 15px;
    border: none;
    border-radius: 50px;
    scale: 1.5;
    border: 3px solid hsl(351, 55%, 84%);
    background-color: white;
    margin-top: 60px;
    margin-left: 40%;
    width: 120px;
    font-family:'Lucida Sans',  'Lucida Sans Unicode', Verdana;
}

@keyframes fade {
    from{
    border: 3px solid hsl(351, 55%, 84%);
    background-color: white;
    }
    to{
        background-color: hsl(351, 55%, 84%),; 
        color: white;
        border: 3px solid hsl(351, 55%, 84%);
    }
}

#lost-and-found-btn:hover{
    padding: 15px;
    border: none;
    border-radius: 50px;
    animation: fade 1s ease-in-out;
    color: white;
    border: 3px solid hsl(351, 55%, 84%);
    background: linear-gradient(to right,hsl(351, 55%, 84%),rgb(255, 188, 198),hsl(354, 55%, 84%) );
    }



    .donate{
        /* border: 3px solid black; */
        height: 490px;
        margin-left: 10%;
        width: 730px;
        display: flex;
        flex-direction: row;
        gap: 150px;
    }
    
    .donate img{
        background-size: contain;
        border-radius: 20px ;
    }
    
    .donate-content{
        width: fit-content;
        /* border: 3px solid rgb(218, 218, 218); */
        padding: 20px;
        border-radius: 50px;
    }
    
    .donate p{
        font-size: x-large;
        /* border: 3px solid black; */
        color: gray;
        width: 200px;
    }
    
    .donate pre{
        font-size: large;
        /* border: 3px solid black; */
        font-size: x-large;
        font-family:'Lucida Sans',  'Lucida Sans Unicode', Verdana;
    }
    
    #donate-btn{
        padding: 15px;
        border: none;
        border-radius: 50px;
        scale: 1.5;
        border: 3px solid hsl(351, 55%, 84%);
        background-color: white;
        margin-top: 60px;
        margin-left: 40%;
        width: 120px;
        font-family:'Lucida Sans',  'Lucida Sans Unicode', Verdana;
    }
    
    @keyframes fade {
        from{
        border: 3px solid hsl(351, 55%, 84%);
        background-color: white;
        }
        to{
            background-color: hsl(351, 55%, 84%),; 
            color: white;
            border: 3px solid hsl(351, 55%, 84%);
        }
    }
    
    #donate-btn:hover{
        padding: 15px;
        border: none;
        border-radius: 50px;
        animation: fade 1s ease-in-out;
        color: white;
        border: 3px solid hsl(351, 55%, 84%);
        background: linear-gradient(to right,hsl(351, 55%, 84%),rgb(255, 188, 198),hsl(354, 55%, 84%) );
        }